**__pycache__**
**build**
**egg-info**
**dist**
data
*.pyc
venv/
*.idea/
*.so
*.sh
*.pth
*.pkl
*.zip
*.bin
*.pt
output
version.py
visualization


/home/OpenPCDet/data
/home/OpenPCDet/output
/home/OpenPCDet/visualization
/home/OpenPCDet/data_for_vis


